.navbar-hover-main{
	background: transparent linear-gradient(1deg, #272E7E 0%, #3E2567 100%)
		0% 0% no-repeat !important;
}
#mainHeaderNav .submenu{
	height: auto !important;
	position: absolute;
	border-radius: 0.25rem;
	background-color: #FFF;
	top: 75%;
	padding-inline-start: 0;
	z-index: 1000;
	/* left: 27%; */
	list-style: none;
	display: none;
}

/* mobile view menu align in middle */

@media ( max-width : 768px) {
	#mainHeaderNav.collapse.navbar-collapse ul.nav{
	display: block !important;
}

}

.submenu-arrow::after {
	display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

#mainHeaderNav .submenu li{
	white-space: normal;
    min-width: 270px;
    width: 10px;
	
}
#mainHeaderNav .subtwo-dropdown-right,#mainHeaderNav .subtwo-dropdown-left {
	padding: .25rem 1.5rem;
	min-width: 260px !important;
	white-space: normal !important;
} 
#mainHeaderNav .submenu li .target-link{
	min-width: 260px !important;
	white-space: normal !important;
	color: #000 !important;
	display: block;
	padding: .25rem 1.5rem;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
#mainHeaderNav .submenu li a#register{
	min-width: auto !important;
}
#mainHeaderNav .submenu li a:hover{
	text-decoration: none;
}
.subtwo-hover{
	position: relative;
}
.submenu-dropright{
	top: 0;
    right: auto;
    left: 100%;
    heiht: auto;
    margin-top: 0;
    margin-left: 0.125rem;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    position: absolute;
}

li.subtwo-hover>a{
	color: #000;
}

li.subtwo-dropdown-right>a::after {
	display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

.submenu-dropleft{
	top: 0;
    right: 100%;
    left: auto;
    height: auto !important;
    list-style: none;
    margin-top: 0;
    margin-right: 0.125rem;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    position: absolute;
    padding-inline-start: 0px;
}
li.subtwo-dropdown-left>a::before{
	display: inline-block;
    margin-right: 0.255em;
    vertical-align: 0;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid;
    border-bottom: 0.3em solid transparent;
}

.demo-wrap{
	text-overflow: ellipsis;
    white-space: nowrap;
    /* height: 18px; */
    width: 100px;
    padding: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#mainHeaderNav .nav-link{
	padding: 0rem .6rem;
}



 .header-main {
     z-index: 99;
     /* position: fixed; */
     top: 0;
     left: 0;
     width: 100%;
     transition: transform 1s ease-in-out;
     padding-bottom: 0;
 }

 .header-main .main-section-header .main-header-left-section {
     display: flex;
 }

 .header-main .main-section-header .main-header-left-section .ashok-emblem-main ul {
     margin-top: 0.3rem;
     margin-bottom: 0.3rem;
     list-style-type: none;
     display: flex;
     align-items: center;
     padding: 0;
 }

 .header-main .main-section-header .main-header-left-section .ex-link-main {
     margin: auto 0;
     line-height: 10px;
     display: flex;
 }

 .header-main .main-section-header .main-header-left-section .ex-link-main ul {
     list-style-type: none;
     margin-top: 0.3rem;
     margin-bottom: 0.3rem;
     align-items: center;
     padding: 0;
 }

 .header-main .main-section-header .main-header-left-section ul li a {
     color: var(--main-header-color);
     padding-left: 0.4rem;
     padding-right: 0.4rem;
     font-size: 0.6rem;
     text-transform: uppercase;
     display: block;
 }

.header-main .main-section-header .main-header-left-section ul li .language_dropdown{
	color: var(--main-header-color);
}

.header-main .main-section-header .main-header-left-section .login-btn{
	color: var(--main-header-color); 
}

 .main-section-header {
     backdrop-filter: blur(50px);
     -webkit-backdrop-filter: blur(50px);
     background-image: var(--main-header);
     position: relative;
     z-index: 2;
 }

 .navbar.main-section-header {
     width: 100%;
     background: #415464;
 }

/*  .main-sec-section-header ul li a {
     color: #474747;
 } */
/*  .main-sec-section-header ul li .target-link{
 	background: #1f4d7e;
 	color: #fff;
 	border-bottom: none;
 } */

 /* .header-main {
     transform: translateY(0px);
 } */

/*  .header-main.scrolledhide {
     transform: translateY(-43px);
 } */

/*  .main-sec-section-header {
     background-color: transparent !important;
     transition: background-color 700ms linear;
 } */

 .main-sec-section-header {
     background-image: var(--main-second-header);
     transition: background-color 700ms linear;
     transition: background-color 1s ease-in-out;
     background-color: #ffffff;
     box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
 }
 .main-sec-section-header ul.main-menu li{
 	border-right: 1px solid #1f4d7e;
 	padding: .5rem;
 }
.main-sec-section-header ul.main-menu li:last-child{
	border-right: none;
}
.main-sec-section-header ul.main-menu li ul.custom-dropdown-menu li{
	border-right: none;
} 
.main-sec-section-header ul.main-menu li ul.custom-dropdown-menu{
	padding: .5rem !important;
	background: #1f4d7e;
	box-shadow: 0px 6px 15px 4px rgba(6, 57, 112, 0.20);
	right: auto;
    left: 0;
    top: 95%;
    border-radius: 0rem .5rem .5rem .5rem;
    border: none;
}
.main-sec-section-header .main-menu li.nav-item:hover{
	background: #1f4d7e;
}
.main-sec-section-header .main-menu li.dropdown.show{
	background: #1f4d7e;
	border-radius: .5rem .5rem 0 0;
}
 .main-sec-section-header ul.main-menu li a {
     color: #fff;
     font-weight: normal;
    /*  padding-left: 15px !important;
     padding-right: 15px !important; */
 }
 .main-sec-section-header ul.main-menu li.dropdown .custom-dropdown-menu a{
 	padding: .5rem;
 }
.main-sec-section-header ul.main-menu li.dropdown .custom-dropdown-menu a:hover{
	background-image: linear-gradient(to right, #feba2e, #fec24a, #ffca61, #ffd277, #ffd98d);
	color: #fff;
	border-radius: .3rem;
}
 
 .main-sec-section-header.scrolled ul li a {
     color: #fff;
     font-weight: 600;
 }
 
 .custom-dropdown-menu .blue-btn {
 	color: #007bff;
 }


