svg{
   /*  border: 1px solid #d9d9d9; */
}

.states{
    fill : #777cad;
    stroke: #fff;
}

.districts{
    fill : transparent;
    stroke: #fff;
}

.taluka path{
    fill : #d9d9d9;
    stroke: green;
}

path.outline {
    stroke: #fff;
    fill : transparent;
}

.heatScale,
.legend-unit{
    outline: 1px solid #fff;
}

.legend-tick{
    fill: #888;
    text-anchor: start;
    /*font-weight: bold;*/
    font-size: 10px;
}

.show-data-tooltip{
    background: red;
}

.hide-data-tooltip{
    background: green;
}

div.tooltip { 
          position: absolute;     
          text-align: center;     
          width: 240px;          
          height: auto;         
          padding: 2px;       
          font: 12px sans-serif;    
          background: #474747; 
          border: 0px;        
          pointer-events: none;     
		  color:white;
      }